.form {
    margin-bottom: 40px;
    display: flex;
    gap: 12px;
}

.form input {
    flex: 1;
    padding: 8px 12px;
    border-radius: 4px;
    border: thin solid #cccccc;
    outline: none;
}

.form select {
    flex: 1;
}

.form button {
    flex: 1;
    background-color: #2E69D4;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}