.main {
    padding: 0;
    display: flex;
}

.sidebar {
    flex: 1;
    border: thin solid #dddddd;
}

.outlet {
    /* display: flex; */
    flex: 5;
    padding: 20px;
    background-color: #eeeeee;
    border: thin solid green;
}