.aside {
    min-height: 100vh;
    max-width: 240px;
    padding: 32px;


    h3 {
        margin-bottom: 40px;
    }

    ul {
        list-style: none;
        line-height: 2em;

        li {
            a {
                text-decoration: none;
                color: #000000;
            }

            a:hover {
                color: #2E69D4;
            }
        }
    }
}