.table {
    width: 100%;
    border-collapse: collapse;

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #dddddd;
    }

    td, th {
        border: thin solid #dddddd;
        padding: 8px;
    }

    th {
        background-color: #eeeeee;
        color: #000000;
        text-align: left;
        font-size: 14px;
    }
}